<div class= "container">   

<div>
    <h1>Eat Da Burger</h1>
</div>

<div>
    <h3>Menu Items</h3>
</div>

<div>
    {{#each burgers1}}
    {{#unless this.devoured}}
   
    <div>
        <p>{{this.id}}. {{this.burger_name}}</p>


        <form action = "/burgers/{{this.id}}?_method=PUT" method= "POST"   class="button-size">
  
  
        <button type="submit"  class="updateBtn" name="burgerId" >Devour!</button>

      </form>

    </div>
   {{/unless}}
    {{/each}}
</div>


</div>

{{!-- <script>
    $(function() {
  $(".updateBtn").on("submit", function(event) {
    var id = $(this).data("id");
   

    

    // Send the PUT request.
    $.ajax("/burgers/" + id, {
      type: "PUT"
     
    }).then(
      function() { 
       
        // Reload the page to get the updated list
        location.reload();
      }
    );
  })
    });
</script> --}}